.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 15px;
  max-height: 400px;
  min-width: 80px;
  padding: 20px;
  background-color: white;
  z-index: 1;
}

.product_rating {
  display: flex;
}

.product_info {
  height: 100px;
  margin-bottom: 10px;
}

.product_price {
  margin-top: 5px;
}

.product > img {
  max-width: 200px;
  width: 100%;
  object-fit: contain ;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9C7e31 #846a29;
}



